
    <footer>
    
        <div class="footer-container">
            <hr>
            <img src="images/ipile.png" height="40px"/>
            <div class="details">
                <h4>Head Office</h4>
                <p>Estate 15, Redemption Camp,<br> Lagos-Ibadan
                    Expressway, Ogun State
                    (Site Office)</p>
                <p>No. 7A Abuja Close,<br> Agbara Estate, Ogun State
                    (Registered Address)</p>
            </div>
            <div class="socials">
                <h4>Social</h4>
                <a href="https://web.facebook.com/ipileearth/?_rdc=1&_rdr">Facebook</a>
                <a href="https://www.instagram.com/p/BlnBjAen01k/">Instagram</a>
               
            </div>
            <div class="details2">
                <h4>Inquiries</h4>
                <p>
                    For any inquiries, questions or commendations, <br>please call: 08089321462, 07069658220 or 08113074842</p>
            </div>
            <div class="contact-btn">
                <button><a href="/contact">Contact Us</a></button>
            </div>
        </div>
    
        <p class="ltd">©2023 By Ipile Earth Synergy Construction</p>

    
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script>
        $("#toggle").on("click", function(){
            $(".drop-down").addClass("open").toggle();
        })
    </script>
</body>
</html>
