<%- include('partials/header'); -%>


<div class="about-container">
    <div class="about1">
        <h4 class="heading">About Us</h4>
        <h2 class="heading">We Build For People</h2>
        <img src="images/female-worker3.jpg"/>
    </div>

    <div class="about2">
        <div class="profile">
            <h4>Company Profile</h4>
            <p>
                <span>IPILE EARTH SYNERGY CONSTRUCTION LTD</span> is an indigenous
                Construction Company duly registered at the Corporate Affairs
                Commission under the Company and Allied Matters Act, CAP C20, LFN
                2004 on the 29th December, 2017 with RC No. 1461757
                The Company is a Multi-Faceted company with a particular bias in
                Construction services and offers the best available solutions according to
                our clients’ requirements.
            </p>
            <h4>Our Product Bricks</h4>
            <p>
                Bricks as our products are source from composite materials (soil) known
                as laterite, which passes through the process of stabilization with little
                percentage of cement and water and it’s manually compressed at high
                pressure to form bricks.
                The bricks are manufactured on a small scale with little energy input.
            </p>
          
        </div>

        <div class="value">
            <div class="line2"></div>
            <h4>Our Core Value</h4>
            <h5>Innovation</h5>
            <p>
                Our industry thrives on innovation; creating innovative ideas toward
                problem solving is fundamental to our success. We constantly strive to
                deliver innovative ideas in the construction market, and deliver superior
                value to our Customers and Shareholders.
            </p>

            <div class="line2"></div>
            <h5>Speed</h5>
            <p>
                We understand the essence of time and as such, Ipile Earth Synergy
                Construction Ltd works with the velocity required to meeting Customer
                satisfaction within a specified period of time.
            </p>
        </div>
        <div class="team-work">
            <div class="line2"></div>
            <h5>Team Work</h5>
            <p>
                With a team of enthusiastic, innovative and self-motivated Professionals
                and well trained support staff, the firm is poised to solve clients’ work
                expeditiously within the shortest available time.
            </p>

            <div class="line2"></div>
            <h5>Cost Effectiveness</h5>
            <p>
                We know the current reality of the economy of our Nation and as such we
                consider such effect without reduction in the quality of our services and
                product for optimum satisfaction of our Clients.
            </p>
        </div>
    </div>

    <div class="about3">
        <div class="vision">
           <h4>Our Vision</h4>
           <h2>We Aim To Build A Better World</h2>
           <p>
            To grow our position and Provide suitable and affordable homes in a
            sustainable environment for every class of society with the aim of
            continually meeting and exceeding Client’s expectations and demands
            through the development and provision of state of the art solutions and
            services.
           </p>

           <h4>Our Mission</h4>
           <p>
               To become the leading provider of affordable homes in Nigeria through
               efficiency and cost-saving and meeting our Clients demands in the most
               unique and socially responsible manner, while creating and delivering
               solutions that exceed our Client’s needs without compromise on the
               company standard.
           </p>

           <h4>Corporate & Social Responsibility (CSR)</h4>
           <p>
            In the communities where we are located, we strive continually to be a
            responsible corporate citizen. In line with our corporate values of Care,
            Support and Empathy in reaching out to communities served, the
            company is looking into initiatives aimed at promoting and supporting
            initiatives related to health, education and humanitarian services. We are
            thus positioning ourselves to lead the culture of service excellence in the
            industry tomorrow and into the future.
           </p>

           
        </div>
        <div class="vision-img">
            <img src="images/family.jpg"/>
        </div>
    </div>

</div>









<%- include('partials/footer'); -%>