<%- include('partials/header'); -%>


<div class="project-container">
   
    <div class="Kuje">
        <div class="inner">
            <h4 class="project-padding">OUR PROJECTS</h4>
            <div class="line project-padding"></div>
            <h3 class="project-padding">ABUJA PROJECT</h3>
            <p class="project-padding"> Ipile Earth Synergy Construction ltd was
                awarded a contract by the Nigerian Navy to construct a housing units of 20
                units of two bedrooms apartment, 30 units of three bedroom apartment,
                20 units single room and 30 units of studio apartment for Personnel of
                Nigerian Navy located at Nigerian Navy Barracks Pegi, Kuje Area Council,
                F.C.T, Abuja.
                The project gave us a landmark which attracted us with more other
                project carried out within the country. It was commissioned on 26th of
                July 2016.
            </p>
        
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="images/DSC_0118-MIN.JPG"  class="d-block w-100" alt="picture">
                  </div>
                  <div class="carousel-item active">
                    <img src="images/image-2.JPG"  class="d-block w-100" alt="picture">
                  </div>
                  <div class="carousel-item">
                    <img src="images/karu 4-min.JPG"  class="d-block w-100" alt="picture">
                  </div>
                  <div class="carousel-item">
                    <img src="images/image-3.JPG"  class="d-block w-100" alt="picture">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>
    <div class="cross-river">
        <h3 class="project-padding">CROSS-RIVER PROJECT</h3>
        <p class="project-padding">During the handling over/ commissioning ceremony, the Chief of the
            Naval Staff having been satisfied with the level of development in bringing
            affordable housing to reduce housing scheme for personnel. He award the
            company another contract to construct similar units for the Nigerian
            Navy at Nigerian Navy Barracks Atimbo Calabar, Cross River State. The
            building project was a little stressful because of the differential in their
            weather condition (rainfall). It also recorded success as it was personally
            commissioned by the Commander in Chief of the Arm Forces, President
            Muhammed Buhari on 26th of June 2017.
        </p>

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/cross-1.jpg" class="d-block w-100" alt="picture">
            </div>
            <div class="carousel-item">
              <img src="images/cross-2.jpg" class="d-block w-100" alt="picture">
            </div>
            <div class="carousel-item">
              <img src="images/cross-5.jpg" class="d-block w-100" alt="picture">
            </div>
            <div class="carousel-item active">
              <img src="images/cross-11.jpg" class="d-block w-100" alt="picture">
            </div>
            <div class="carousel-item">
              <img src="images/cross-12.jpg" class="d-block w-100" alt="picture">
            </div>
            <div class="carousel-item">
              <img src="images/cross-13.jpg" class="d-block w-100" alt="picture">
            </div>
          </div>
        </div>
        </div>
    <div class="islamic-center">
        <h3 class="project-padding">DEFFENCE COLLEGE PROJECT</h3>
        <p class="project-padding">The Chief of Defence Staff (CDS) being present at both of the
            commissioning and having seen the good features of our project decided
            to give the company a contract of constructing six (6) units of three
            bedrooms, three (3) units of 5x1 bedroom (studio apartment) construction
            of a Christian Worship Centre ( chapel), construction of Islamic Centre (
            mosque) and construction of Outdoor Shops (Tuck shop). These increase
            our strength and zeal to reach out to low income earners through various
            marketing unit to proffer them the ability of owning a house.
            Consequently, we created a partnership with other organisation,
            mortgage banks, and corporate labour services. E.t.c.</p>

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img src="images/islamic-1.JPG" class="d-block w-100" alt="picture">
                </div>
                <div class="carousel-item">
                <img src="images/islamic-2.JPG" class="d-block w-100" alt="picture">
                </div>
                <div class="carousel-item">
                <img src="images/islamic-3.JPG" class="d-block w-100" alt="picture">
            </div>
            </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>    
   
    <div class="ogun-project">
        <h3 class="project-padding">OGUN STATE PROJECT</h3>
        <p class="project-padding">Ipile Earth Synergy Construction ltd derived other channel as to build to
            client demand. We design and build to the requirement of our customers
            and to reach out to the low income earners.
            Here are the various building designs carried out at the redemption camp
            located at lagos-Ibadan express way Ogun State.
        </p>
       
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/rccg-1.jpg" class="d-block w-100" alt="picture">
              </div>
              <div class="carousel-item">
                <img src="images/rccg-2.jpg" class="d-block w-100" alt="picture">
              </div>
              <div class="carousel-item">
                <img src="images/rccg-3.jpg" class="d-block w-100" alt="picture">
              </div>
            </div>
          </div>
     </div>
   
</div>




<%- include('partials/footer'); -%>