<%- include('partials/header'); -%>

<div class="team-container">
    <div class="team">
        <h2>OUR TEAM</h2>
        <div class="line"></div>
    </div>
    <div class="ceo">
        <img src="images/ceo.JPG"/>
        <p><span>REAR ADMIRAL JAMES OLUWOLE (RTD) MNI,MNSE,FNIS, FOSHA</span>
            The Chairman Board of Director/Chief Executive Officer of the company
            encompasses all the wealth of experience and intellectual put together
            both as a Retired Senior Military Officer and now as a Business Mogul. He
            is a member of National Institute for Policy and Strategic Studies (NIPSS)
            He possesses a Bachelor Degree in Electrical Electronics
            (Communication) and a Diploma in Telecom Engineering from the
            24
            prestigious Obafemi Awolowo University, Ile-Ife Osun State, Advanced
            Communication Skill Programme (ACSP) from Business School,
            Lausanne, Switzerland, Masters in International Relation and Strategic
            Studies (MIRSS) from the Lagos State University, Ojo Lagos. He is
            endowed with numerous awards and accolades.</p>
    </div>
    <hr>
    <div class="emmanuel">
        <p><span>EMMANUEL OLUWOLE,</span> is our dynamic and astute Managing Director. He is an
            economist with specialization in developing economies. His career goal is
            to assume a role which allows him to proffer solutions that delivers high
            value to its users.  He has a BSC degree in Economics from Covenant University, Ota, Ogun
            State and has worked in various establishment.  He has attended various
            courses, such as Diploma in Leadership Development from Covenant
            University Ota, Ogun State, Block and Building System Implementation
            from Hydraform Academy, Boksburg, South Africa. 
        </p>
        <img src="images/emmanuel.JPG"/>
    </div>
    <hr>
    <div class="sani">
        <img src="images/sani.jpg"/>
        <p><span>SANNI SHOLA TAIWO, Principal Partner HEMBRIDGE ATTORNEYS.</span>
            He possesses his LL.B (UNILORIN) from University of Ilorin, Kwara
            State before obtaining his B.L at the prestigious Nigerian Law School,
            Abuja Campus. He is a Barrister and Solicitor of the Supreme Court of
            Nigeria. He is the Company Secretary Legal Adviser of Ipile Earth Synergy
            Construction Ltd.</p>
    </div>
    <hr>
    <div class="omotola">
        <p><span>OMOTOLA TAOFIK RAUFU,</span>is the Lead Architect of our Company since 2016. 
            His designs have been implemented in various projects. Omotola creative prowess 
             ensures functionality, cost effectiveness and aesthetics. He is an associate member
              of the Nigeria Institute of Architects (MNIA)</p>
        <img src="images/omotola.jpg"/>
    </div>
    <hr>
    <div class="olu">
        <img src="images/olu.jpg"/>
        <p><span>ENGR OLUWASEUN WOLE OLANIYAN,</span> is our Chief Stuctural Engineer since 2016.  
            He is a graduate of  Civil Engineering from the University of Illorin. Oluwaseun  
            has supervised the construction of over 300 housinng units. Ensuring progress reports, 
            method statements with safety plan, project quality plan and inspection test plan.  
            Prepare design, audit/management review schedules. Liase with multi discipline team of engineers 
            to review material approval  request for construction (concrete, steel and building materials) as per  
            the project requirementsAlso, he is a member of the Council for the Regulation of Engineering in Nigeria (COREN).
        </p>

    </div>
</div>


<%- include('partials/footer'); -%>

